extends ../layouts/common
block content 
    section.breadcrumbs_common.bg_img.pos_relative
      .overlay-innerpage
      .container
        .row
          .col-md-12
            .breadcrumbs_content.align_row_spacebetween
              h2.color_ff Liên hệ
    // contact us
    #our-partner.padding.white.contact-form-area
      .container
        .row
          // MESSAGE
          .col-lg-7
            h2.contact-title.font-dearJoe.text-custom2 Gửi tin nhắn của bạn
            if (status)
              p(style="color: red;")=status
            form#contact-form(action='/lien-he', method='POST')
              .row
                .col-lg-6
                  input(name='name', placeholder='Tên', type='text' required)
                .col-lg-6
                  input(name='email', placeholder='Email', type='email')
                .col-lg-12
                  textarea(name='message', cols='30', rows='10', placeholder='Nội dung' required)
                  button.button-default(type='submit') Gửi
            a.button-default(href='/auth/login') Đăng nhập
          // MESSAGE
          // INFO
          .col-lg-5
            h2.contact-title.font-dearJoe.text-custom2 Fanpage
            .fb-page(data-href='https://www.facebook.com/thhuynhngochue/', data-width='290px',data-height='250px',data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
              blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/thhuynhngochue/')
                a(href='https://www.facebook.com/thhuynhngochue/') Fanpage trường Huỳnh Ngọc Huệ
          // INFO
    br
    // Google Map Area Start
    #our-partner.white.contact-form-area
      .container
        .row
          .col-lg-7(style="padding-bottom: 20px")
            h2.contact-title.font-dearJoe.text-custom2 Tìm kiếm chúng tôi ở đây!
            // Map Section
            #contacts.map-area
              iframe#googlemap(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.17326170284!2d108.1918487!3d16.0632419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf74408193c4e027a!2zVHLGsOG7nW5nIFRp4buDdSBo4buNYyBIdXnMgG5oIE5nb8yjYyBIdcOqzKM!5e0!3m2!1svi!2s!4v1629827487057!5m2!1svi!2s', width='100%', height='350', style='border:0;', allowfullscreen='', loading='lazy')
          .col-lg-5
            h2.contact-title.font-dearJoe.text-custom2 Thông tin liên lạc
            .contact-text
              p
                span.c-icon
                  i.zmdi.zmdi-phone
                span.c-text 02363.746.027
              p
                span.c-icon
                  i.zmdi.zmdi-email
                span.c-text thhuynhngochue@danang.gov.vn
              p
                span.c-icon
                  i.zmdi.zmdi-pin
                span.c-text
                  | 158 Hà Huy Tập, Thanh Khê, 
                  br
                  | Đà Nẵng, Việt Nam
            h4.contact-title Truyền thông xã hội
            .link-social
              a.facebook(href='https://www.facebook.com/thhuynhngochue/', target='_blank')
                i.fa.fa-facebook
              a.google(href='#')
                i.fa.fa-google-plus
              a.twitter(href='#')
                i.fa.fa-twitter
              a.pinterest(href='#')
                i.fa.fa-pinterest
            // End of Google Map Area


      
