extends ./layouts/common
block content 
  section.padding.white.center-align.error_pages
    .container
      .row
        .col-md-12
          .error_content.text-center.align_center_center
            .e404
              h1 Sorry...!
            p.not_found NOT FOUND
            form.clearfix(action='#')
              //- input(type='search', name='search', placeholder='Search here')
              button.transition_3s(type='submit')
                i.fa.fa-search(aria-hidden='true')
