extends ../layouts/common
block content
  section#about-sev.padding
    .container
      .row
        .col-lg-7.col-sm-12.col-xs-12(style='padding-right: 25px;')
          .row
            .col-lg-12
              h2.text-uppercase.font-dearJoe Huy&#x300;nh Ngo&#x323;c Hu&ecirc;&#x323;
              .line_1
              .line_2
              .line_3
          .about-sev-tag
            p(style='text-align: justify')
              | Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; sinh n&abreve;m 1914 t&#x1EA1;i l&agrave;ng M&#x1EF8; H&Ograve;A, x&atilde; &Dstrok;&#x1EA0;I H&Ograve;A, huy&#x1EC7;n &Dstrok;&#x1EA0;I L&#x1ED8;C, t&#x1EC9;nh QU&#x1EA2;NG NAM. N&abreve;m 1934 &ocirc;ng t&#x1ED1;t nghi&#x1EC7;p lo&#x1EA1;i gi&#x1ECF;i tr&#x1B0;&#x1EDD;ng K&#x1EF9; ngh&#x1EC7; th&#x1EF1;c h&agrave;nh Hu&#x1EBF;, &dstrok;&#x1B0;&#x1EE3;c nh&agrave; tr&#x1B0;&#x1EDD;ng gi&#x1EEF; l&#x1EA1;i l&agrave;m gi&aacute;o vi&ecirc;n; t&#x1EA1;i &dstrok;&acirc;y &ocirc;ng &dstrok;&#x1B0;&#x1EE3;c gi&aacute;c ng&#x1ED9; c&aacute;ch m&#x1EA1;ng
              | v&agrave; s&#x1EDB;m tr&#x1EDF; th&agrave;nh th&agrave;nh vi&ecirc;n n&ograve;ng c&#x1ED1;t c&#x1EE7;a phong tr&agrave;o thanh ni&ecirc;n Hu&#x1EBF;. Cu&#x1ED1;i n&abreve;m 1937, &ocirc;ng &dstrok;&#x1B0;&#x1EE3;c c&#x1EED; v&agrave;o Ban &dstrok;&#x1EA1;i di&#x1EC7;n &Dstrok;o&agrave;n thanh ni&ecirc;n D&acirc;n ch&#x1EE7; nh&agrave; tr&#x1B0;&#x1EDD;ng, H&#x1ED9;i H&#x1B0;&#x1EDB;ng &dstrok;&#x1EA1;o, th&#x1B0; k&yacute; H&#x1ED9;i A&iacute; h&#x1EEF;u nh&agrave; tr&#x1B0;&#x1EDD;ng v&agrave; l&agrave; B&iacute; th&#x1B0; chi b&#x1ED9; &dstrok;&#x1EA7;u ti&ecirc;n. T&#x1EEB;
              | n&abreve;m 1939 &ndash; 1945, sau khi M&#x1EB7;t tr&#x1EAD;n b&igrave;nh d&acirc;n Ph&aacute;p b&#x1ECB; &dstrok;&#x1ED5;, &dstrok;&#x1ECB;ch th&#x1EB3;ng tay &dstrok;&agrave;n &aacute;p ph&ograve;n tr&agrave;o c&aacute;ch m&#x1EA1;ng trong gi&#x1EDB;i tr&iacute; th&#x1EE9;c c&aacute;c n&#x1B0;&#x1EDB;c thu&#x1ED9;c &dstrok;&#x1ECB;a, &ocirc;ng b&#x1ECB; &dstrok;&#x1ECB;ch b&#x1EAF;t &dstrok;&agrave;y &#x1EA3;i, giam c&#x1EA7;m qua c&aacute;c nh&agrave; t&ugrave; kh&eacute;t ti&#x1EBF;ng. Ba l&#x1EA7;n b&#x1ECB; &dstrok;&#x1ECB;ch b&#x1EAF;t giam, hai
              | l&#x1EA7;n v&#x1B0;&#x1EE3;t ng&#x1EE5;c th&#x1EAF;ng l&#x1EE3;i v&agrave; &dstrok;&#x1EBF;n 8/1945, v&#x1EDB;i c&#x1B0;&#x1A1;ng v&#x1ECB; l&agrave; B&iacute; th&#x1B0; th&agrave;nh &#x1EE7;y &Dstrok;&agrave; N&#x1EB5;ng &ocirc;ng &dstrok;&atilde; l&atilde;nh &dstrok;&#x1EA1;o kh&#x1EDF;i ngh&itilde;a gi&agrave;nh ch&iacute;nh quy&#x1EC1;n t&#x1EA1;i &dstrok;&#x1ECB;a ph&#x1B0;&#x1A1;ng, sau &dstrok;&oacute; tham giaTh&#x1B0;&#x1EDD;ng v&#x1EE5; th&#x1EE9; &#x1EE7;y Trung k&#x1EF3;, th&#x1B0; k&yacute; c&ocirc;ng nh&acirc;n c&#x1EE9;u qu&#x1ED1;c mi&#x1EC1;n Trung&mldr;&Ocirc;ng
              | c&ograve;n l&agrave; th&agrave;nh vi&ecirc;n sang l&#x1EAD;p v&agrave; l&atilde;nh &dstrok;&#x1EA1;oT&#x1ED5;ng Li&ecirc;n &dstrok;o&agrave;n Lao &dstrok;&#x1ED9;ng Vi&#x1EC7;t Nam, &#x1EE7;y vi&ecirc;n Ban ch&#x1EA5;p h&agrave;nh Li&ecirc;n &dstrok;o&agrave;n Lao &dstrok;&#x1ED9;ng qu&#x1ED1;c t&#x1EBF;. Cu&#x1ED1;i n&abreve;m 1946, &ocirc;ng tham gia l&atilde;nh &dstrok;&#x1EA1;o chi&#x1EBF;n tr&#x1B0;&#x1EDD;ngQN-&Dstrok;N, l&agrave; ch&iacute;nh &#x1EE7;y m&#x1EB7;t tr&#x1EAD;n &dstrok;&#x1EA7;u ti&ecirc;n &#x1EDF; mi&#x1EC1;n Trung. Ng&agrave;y
              | 27/4/1949, tr&ecirc;n &dstrok;&#x1B0;&#x1EDD;ng &dstrok;i c&ocirc;ng t&aacute;c, &ocirc;ng &dstrok;&atilde; hy sinh t&#x1EA1;i huy&#x1EC7;n Ngh&itilde;a H&agrave;nh t&#x1EC9;nh Qu&#x1EA3;ng Ng&atilde;i l&uacute;c &ocirc;ng tr&ograve;n 35 tu&#x1ED5;i.
        .col-lg-5.col-sm-12.col-xs-12
          .about-sev-img
            img(src='/images/danhnhan/Huỳnh_Ngọc_Huệ.jpg', alt='image')
  // ABOUT danhnhan
