extends ../layouts/common
block content
  section.slider_section.header_height
    ul#main-slider.owl-carousel.main_slider
      li.main_slide(style='background-image: url(/images/fearures_section4.jpg);')
      li.main_slide(style='background-image: url(/images/fearures_section2.jpg);')
  // /.slider_section
  section.introduction-01.padding
    .container
      .row.p-b-60
        .col-lg-12.col-md-12
          h1.font-dearJoe(style='text-align: center;') QU&Aacute; TR&Igrave;NH H&Igrave;NH TH&Agrave;NH V&Agrave; PH&Aacute;T TRI&#x1EC2;N C&#x1EE6;A TR&#x1AF;&#x1EDC;NG TH. HU&#x1EF2;NH NG&#x1ECC;C HU&#x1EC6;
          .description
            | &emsp;&emsp; Tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&#x1B0;&#x1EE3;c t&aacute;ch ra tr&#x1B0;&#x1EDD;ng THCS Hu&#x1EF3;nh Th&uacute;c Kh&aacute;ng t&#x1EEB; n&abreve;m 1997. &Dstrok;&oacute; l&agrave; m&#x1ED9;t ng&ocirc;i tr&#x1B0;&#x1EDD;ng xinh x&#x1EAF;n quanh n&abreve;m xanh m&agrave;u l&aacute; v&agrave; r&#x1EF1;c r&#x1EE1; mu&ocirc;n s&#x1EAF;c hoa. Nh&igrave;n b&#x1EC1; ngo&agrave;i khang trang, s&#x1EA1;ch &dstrok;&#x1EB9;p &#x1EA5;y, &iacute;t ai bi&#x1EBF;t r&#x1EB1;ng
            | h&#x1A1;n m&#x1B0;&#x1EDD;i n&abreve;m tr&#x1B0;&#x1EDB;c &dstrok;&acirc;y tr&#x1B0;&#x1EDD;ng Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; l&agrave; m&#x1ED9;t ng&ocirc;i tr&#x1B0;&#x1EDD;ng thi&#x1EBF;u th&#x1ED1;n nhi&#x1EC1;u v&#x1EC1; c&#x1A1; s&#x1EDF; v&#x1EAD;t ch&#x1EA5;t v&agrave; ch&#x1ED3;ng ch&#x1EA5;t bao tr&#x1EDF; ng&#x1EA1;i, kh&oacute; kh&abreve;n nh&#x1B0; th&#x1EBF; n&agrave;o.
          br
          .description
            | &emsp;&emsp; Tr&#x1EA3;i qua bao n&abreve;m th&aacute;ng d&#x1EF1;ng x&acirc;y, v&#x1EDB;i t&#x1EA5;t c&#x1EA3; s&#x1EF1; n&#x1ED7; l&#x1EF1;c, ph&#x1EA5;n &dstrok;&#x1EA5;u c&#x1EE7;a t&#x1EAD;p th&#x1EC3; H&Dstrok;SP nh&agrave; tr&#x1B0;&#x1EDD;ng v&agrave; c&#x1EE7;a c&aacute;c em h&#x1ECD;c sinh. B&#x1EAF;t &dstrok;&#x1EA7;u t&#x1EEB; n&abreve;m h&#x1ECD;c 1999-2000 tr&#x1EDF; &dstrok;i, tr&#x1B0;&#x1EDD;ng TH Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; c&oacute; nh&#x1EEF;ng b&#x1B0;&#x1EDB;c &dstrok;&#x1ED9;t ph&aacute; m&#x1EDB;i, &dstrok;&#x1EA1;t nhi&#x1EC1;u
            | th&agrave;nh t&iacute;ch cao qua c&aacute;c phong tr&agrave;o m&utilde;i nh&#x1ECD;n v&agrave; c&aacute;c H&#x1ED9;i thi do Ng&agrave;nh GD-&Dstrok;T v&agrave; H&#x1ED9;i &dstrok;&#x1ED3;ng &Dstrok;&#x1ED9;i c&aacute;c c&#x1EA5;p t&#x1ED5; ch&#x1EE9;c. N&abreve;m h&#x1ECD;c 2002-2003, tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c B&#x1ED9; GD&amp;&Dstrok;T c&ocirc;ng nh&#x1EAD;n l&agrave; tr&#x1B0;&#x1EDD;ng &dstrok;&#x1EA1;t chu&#x1EA9;n Qu&#x1ED1;c gia (m&#x1EE9;c I). N&abreve;m h&#x1ECD;c
            | 2007-2008 &dstrok;&#x1B0;&#x1EE3;c B&#x1ED9; Gi&aacute;o d&#x1EE5;c&amp;&Dstrok;&agrave;o t&#x1EA1;o t&#x1EB7;ng c&#x1EDD; thi &dstrok;ua &dstrok;&#x1A1;n v&#x1ECB; ti&ecirc;n ti&#x1EBF;n xu&#x1EA5;t s&#x1EAF;c b&#x1EAD;c Ti&#x1EC3;u h&#x1ECD;c. N&abreve;m h&#x1ECD;c 2008 - 2009 &dstrok;&#x1B0;&#x1EE3;c Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&iacute;nh ph&#x1EE7; v&agrave; B&#x1ED9; Gi&aacute;o d&#x1EE5;c&amp;&Dstrok;&agrave;o t&#x1EA1;o t&#x1EB7;ng b&#x1EB1;ng khen &dstrok;&#x1A1;n v&#x1ECB; ho&agrave;n th&agrave;nh xu&#x1EA5;t s&#x1EAF;c nhi&#x1EC7;m v&#x1EE5;, &dstrok;&#x1B0;&#x1EE3;c UBND Th&agrave;nh
            | ph&#x1ED1; c&ocirc;ng nh&#x1EAD;n l&agrave; tr&#x1B0;&#x1EDD;ng Ti&#x1EC3;u h&#x1ECD;c &dstrok;&#x1EA1;t chu&#x1EA9;n Qu&#x1ED1;c gia (m&#x1EE9;c &dstrok;&#x1ED9; II). Nhi&#x1EC1;u phong tr&agrave;o thi &dstrok;ua &ldquo;D&#x1EA1;y t&#x1ED1;t - H&#x1ECD;c t&#x1ED1;t&rdquo;; x&acirc;y d&#x1EF1;ng &ldquo;Tr&#x1B0;&#x1EDD;ng h&#x1ECD;c th&acirc;n thi&#x1EC7;n, h&#x1ECD;c sinh t&iacute;ch c&#x1EF1;c&rdquo; &dstrok;&#x1B0;&#x1EE3;c tri&#x1EC3;n khai trong nh&agrave; tr&#x1B0;&#x1EDD;ng &dstrok;&atilde; &dstrok;&#x1EA9;y m&#x1EA1;nh ch&#x1EA5;t l&#x1B0;&#x1EE3;ng gi&aacute;o d&#x1EE5;c
            | to&agrave;n di&#x1EC7;n c&#x1EE7;a h&#x1ECD;c sinh. Tr&igrave;nh &dstrok;&#x1ED9; &dstrok;&#x1ED9;i ng&utilde; GV tr&ecirc;n chu&#x1EA9;n &dstrok;&#x1EA1;t t&#x1EC9; l&#x1EC7; 97,4% v&agrave; danh hi&#x1EC7;u &ldquo;Chi&#x1EBF;n s&itilde; thi &dstrok;ua c&#x1A1; s&#x1EDF;&rdquo; t&abreve;ng cao. Nhi&#x1EC1;u th&#x1EA7;y c&ocirc; gi&aacute;o trong nh&agrave; tr&#x1B0;&#x1EDD;ng &dstrok;&#x1EA1;t danh hi&#x1EC7;u GV gi&#x1ECF;i c&#x1EA5;p th&agrave;nh ph&#x1ED1; v&agrave; &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c b&#x1ED5; nhi&#x1EC7;m l&agrave;m c&ocirc;ng t&aacute;c qu&#x1EA3;n
            | l&yacute; &#x1EDF; c&aacute;c tr&#x1B0;&#x1EDD;ng kh&aacute;c. Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng HS to&agrave;n tr&#x1B0;&#x1EDD;ng lu&ocirc;n &#x1ED5;n &dstrok;&#x1ECB;nh, s&#x1ED1; l&#x1B0;&#x1EE3;ng HS gi&#x1ECF;i To&aacute;n, Ti&#x1EBF;ng Vi&#x1EC7;t, Tin h&#x1ECD;c, Th&#x1EC3; thao&mldr; &dstrok;&#x1EA1;t gi&#x1EA3;i c&#x1EA5;p th&agrave;nh ph&#x1ED1; &dstrok;&#x1B0;&#x1EE3;c n&acirc;ng cao qua t&#x1EEB;ng n&abreve;m h&#x1ECD;c. Nhi&#x1EC1;u H&#x1ED9;i thi nh&#x1B0;: K&#x1EC3; chuy&#x1EC7;n, V&#x1EBD; tranh, V&abreve;n ngh&#x1EC7;, ATGT,
            | Ph&ograve;ng ng&#x1EEB;a th&#x1EA3;m h&#x1ECD;a, Ti&#x1EBF;ng h&aacute;t tu&#x1ED5;i th&#x1A1;, Ch&#x1EC9; huy &Dstrok;&#x1ED9;i gi&#x1ECF;i, Ph&#x1EE5; tr&aacute;ch sao gi&#x1ECF;i, Nghi th&#x1EE9;c &Dstrok;&#x1ED9;i &mldr;.. &dstrok;&#x1EA1;t gi&#x1EA3;i cao c&#x1EA5;p Qu&#x1EAD;n, c&#x1EA5;p TP. Nh&#x1EEF;ng k&#x1EBF;t qu&#x1EA3; tr&ecirc;n &dstrok;&atilde; kh&#x1EB3;ng &dstrok;&#x1ECB;nh &dstrok;&#x1B0;&#x1EE3;c truy&#x1EC1;n th&#x1ED1;ng d&#x1EA1;y v&agrave; h&#x1ECD;c, tinh th&#x1EA7;n tr&aacute;ch nhi&#x1EC7;m c&#x1EE7;a th&#x1EA7;y c&ocirc; gi&aacute;o,
            | s&#x1EF1; ch&abreve;m ch&#x1EC9; h&#x1ECD;c t&#x1EAD;p, r&egrave;n c&#x1EE7;a c&aacute;c em h&#x1ECD;c sinh trong vi&#x1EC7;c tham gia c&aacute;c phong tr&agrave;o ho&#x1EA1;t &dstrok;&#x1ED9;ng c&#x1EE7;a nh&agrave; tr&#x1B0;&#x1EDD;ng trong nh&#x1EEF;ng n&abreve;m qua.
          br
          .description
            | &emsp;&emsp; V&#x1EDB;i m&#x1ED9;t ng&ocirc;i tr&#x1B0;&#x1EDD;ng khang trang, s&#x1EA1;ch &dstrok;&#x1EB9;p v&agrave; c&oacute; b&#x1EC1; d&agrave;y v&#x1EC1; truy&#x1EC1;n th&#x1ED1;ng, tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; kh&#x1EB3;ng &dstrok;&#x1ECB;nh &dstrok;&#x1B0;&#x1EE3;c v&#x1ECB; tr&iacute; v&agrave; vai tr&ograve; c&#x1EE7;a m&igrave;nh trong s&#x1EF1; nghi&#x1EC7;p gi&aacute;o d&#x1EE5;c c&#x1EE7;a th&agrave;nh ph&#x1ED1; v&agrave; l&agrave; &dstrok;&#x1ECB;a ch&#x1EC9; &dstrok;&aacute;ng tin c&#x1EAD;y c&#x1EE7;a
            | c&aacute;c b&#x1EAD;c ph&#x1EE5; huynh. Nh&agrave; tr&#x1B0;&#x1EDD;ng lu&ocirc;n &dstrok;&#x1EC1; cao kh&#x1EA9;u hi&#x1EC7;u:
          br
          h2
            | &emsp;&emsp; &emsp; &ldquo;CH&#x1EA4;T L&#x1AF;&#x1EE2;NG GI&Aacute;O D&#x1EE4;C L&Agrave; DANH D&#x1EF0;, UY T&Iacute;N C&#x1EE6;A NH&Agrave; TR&#x1AF;&#x1EDC;NG&rdquo;
  // Why choose
  section#main-features.padding.white
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.font-dearJoe
            | M&ocirc;&#x323;t s&ocirc;&#x301; tha&#x300;nh ti&#x301;ch
          .line_1-1
          .line_2-2
          .line_3-3
        .col-sm-1.col-lg-2
      .row
        .col-sm-5
          .features-img
            img(src='/images/favicon.jpg', alt='')
        .col-sm-7
          .media.service-box
            .pull-left
              i.fa.fa-certificate(aria-hidden='true')
            .media-body
              h4.media-heading Tr&#x1B0;&#x1A1;&#x300;ng &dstrok;a&#x323;t chu&acirc;&#x309;n
              p
                | N&abreve;m h&#x1ECD;c 2002-2003, tr&#x1B0;&#x1EDD;ng ti&#x1EC3;u h&#x1ECD;c Hu&#x1EF3;nh Ng&#x1ECD;c Hu&#x1EC7; &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c B&#x1ED9; GD&amp;&Dstrok;T c&ocirc;ng nh&#x1EAD;n l&agrave; tr&#x1B0;&#x1EDD;ng &dstrok;&#x1EA1;t chu&#x1EA9;n Qu&#x1ED1;c gia (m&#x1EE9;c I)
          .media.service-box
            .pull-left
              i.fa.fa-flag(aria-hidden='true')
            .media-body
              h4.media-heading C&#x1A1;&#x300; thi &dstrok;ua &dstrok;&#x1A1;n v&#x1ECB; ti&ecirc;n ti&#x1EBF;n xu&#x1EA5;t s&#x1EAF;c
              p
                | N&abreve;m h&#x1ECD;c 2007-2008 &dstrok;&#x1B0;&#x1EE3;c B&#x1ED9; Gi&aacute;o d&#x1EE5;c&amp;&Dstrok;&agrave;o t&#x1EA1;o t&#x1EB7;ng c&#x1EDD; thi &dstrok;ua &dstrok;&#x1A1;n v&#x1ECB; ti&ecirc;n ti&#x1EBF;n xu&#x1EA5;t s&#x1EAF;c b&#x1EAD;c Ti&#x1EC3;u h&#x1ECD;c
          .media.service-box
            .pull-left
              i.fa.fa-institution(aria-hidden='true')
            .media-body
              h4.media-heading B&#x1EB1;ng khen &dstrok;&#x1A1;n v&#x1ECB; ho&agrave;n th&agrave;nh xu&#x1EA5;t s&#x1EAF;c nhi&#x1EC7;m v&#x1EE5;
              p
                | N&abreve;m h&#x1ECD;c 2008 - 2009 &dstrok;&#x1B0;&#x1EE3;c Th&#x1EE7; t&#x1B0;&#x1EDB;ng Ch&iacute;nh ph&#x1EE7; v&agrave; B&#x1ED9; Gi&aacute;o d&#x1EE5;c&amp;&Dstrok;&agrave;o t&#x1EA1;o t&#x1EB7;ng b&#x1EB1;ng khen &dstrok;&#x1A1;n v&#x1ECB; ho&agrave;n th&agrave;nh xu&#x1EA5;t s&#x1EAF;c nhi&#x1EC7;m v&#x1EE5;, &dstrok;&#x1B0;&#x1EE3;c UBND Th&agrave;nh ph&#x1ED1; c&ocirc;ng nh&#x1EAD;n l&agrave; tr&#x1B0;&#x1EDD;ng Ti&#x1EC3;u h&#x1ECD;c &dstrok;&#x1EA1;t chu&#x1EA9;n Qu&#x1ED1;c gia (m&#x1EE9;c &dstrok;&#x1ED9; II)
          .media.service-box
            .pull-left
              i.fa.fa-graduation-cap(aria-hidden='true')
            .media-body
              h4.media-heading Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng Ho&#x323;c sinh 
              p
                | Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng HS to&agrave;n tr&#x1B0;&#x1EDD;ng lu&ocirc;n &#x1ED5;n &dstrok;&#x1ECB;nh, s&#x1ED1; l&#x1B0;&#x1EE3;ng HS gi&#x1ECF;i To&aacute;n, Ti&#x1EBF;ng Vi&#x1EC7;t, Tin h&#x1ECD;c, Th&#x1EC3; thao&mldr; &dstrok;&#x1EA1;t gi&#x1EA3;i c&#x1EA5;p th&agrave;nh ph&#x1ED1; &dstrok;&#x1B0;&#x1EE3;c n&acirc;ng cao qua t&#x1EEB;ng n&abreve;m h&#x1ECD;c. Nhi&#x1EC1;u H&#x1ED9;i thi nh&#x1B0;: K&#x1EC3; chuy&#x1EC7;n, V&#x1EBD; tranh, V&abreve;n ngh&#x1EC7;, ATGT, Ph&ograve;ng ng&#x1EEB;a th&#x1EA3;m h&#x1ECD;a,
                | Ti&#x1EBF;ng h&aacute;t tu&#x1ED5;i th&#x1A1;, Ch&#x1EC9; huy &Dstrok;&#x1ED9;i gi&#x1ECF;i, Ph&#x1EE5; tr&aacute;ch sao gi&#x1ECF;i, Nghi th&#x1EE9;c &Dstrok;&#x1ED9;i&mldr; &dstrok;&#x1EA1;t gi&#x1EA3;i cao c&#x1EA5;p Qu&#x1EAD;n, c&#x1EA5;p TP
  // /#Why choose
  // Counter Section
  #counter-section.padding
    .container
      .row.mb-20
        .col-sm-1.col-md-2
        .col-xs-12.col-sm-10.col-md-8.text-center
          h2.text-uppercase.font-dearJoe M&ocirc;&#x323;t s&ocirc;&#x301; th&ocirc;ng tin kha&#x301;c
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space
            | &Dstrok;&#x1B0;&#x1EE3;c x&acirc;y d&#x1EF1;ng tr&ecirc;n n&#x1EC1;n t&#x1EA3;ng ch&#x1B0;&#x1A1;ng tr&igrave;nh c&#x1EE7;a B&#x1ED9; GD&amp;&Dstrok;T v&#x1EDB;i &dstrok;&#x1ECB;nh h&#x1B0;&#x1EDB;ng gi&aacute;o d&#x1EE5;c 4.0 mang l&#x1EA1;i m&ocirc;i tr&#x1B0;&#x1EDD;ng h&#x1ECD;c t&#x1EAD;p t&ocirc;&#x301;t nh&acirc;&#x301;t cho h&#x1ECD;c sinh.
        .col-sm-1.col-md-2
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='55') 0
            p Gia&#x301;o vi&ecirc;n
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='33') 0
            p L&#x1A1;&#x301;p ho&#x323;c
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-users(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1290') 0
            p Ho&#x323;c sinh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-th-list(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 2/Ngày
            p Bu&ocirc;&#x309;i ho&#x323;c
            .border-inner
      .row.number-counters.text-center.mt-30
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-user-plus(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 6 - 14
            p &Dstrok;&ocirc;&#x323; tu&ocirc;&#x309;i trung bi&#x300;nh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-percent(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong 1.5
            p Ti&#x309; l&ecirc;&#x323; ho&#x323;c sinh - gia&#x301;o vi&ecirc;n 
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-universal-access(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='39') 0
            p Si&#x303; s&ocirc;&#x301; trung bi&#x300;nh
            .border-inner
        .col-md-3.col-sm-6.col-xs-12
          // first count item
          .counters-item
            i.fa.fa-building(aria-hidden='true')
            // Set Your Number here. i,e. data-to="56"
            strong(data-to='1') 0
            p C&#x1A1; s&#x1A1;&#x309; v&acirc;&#x323;t ch&acirc;&#x301;t
            .border-inner
  // Counter Section
  // learn from the best
  section#banner-style6.banner-style6.padding
    .container-fluid
      .container
        .row
          .col-sm-1.col-lg-2
          .col-xs-12.col-sm-10.col-lg-8.text-center
            h2.text-uppercase.font-dearJoe &Dstrok;&ocirc;&#x323;i ngu&#x303; gia&#x301;o vi&ecirc;n
            .line_1-1
            .line_2-2
            .line_3-3
            p.heading_space
              | &Dstrok;&#x1ED9;i ng&utilde; c&#x1EE7;a ch&uacute;ng t&ocirc;i &dstrok;a&#x323;t chu&acirc;&#x309;n, m&#x1EA1;nh m&#x1EBD; v&agrave; s&aacute;ng t&#x1EA1;o v&agrave; li&ecirc;n t&#x1EE5;c &dstrok;&#x1ED5;i m&#x1EDB;i ph&#x1B0;&#x1A1;ng th&#x1EE9;c gi&#x1EA3;ng d&#x1EA1;y &dstrok;&#x1EC3; &dstrok;em l&#x1EA1;i k&#x1EBF;t qu&#x1EA3; t&#x1ED1;t nh&#x1EA5;t.
          .col-sm-1.col-lg-2
        .row.clearfix
          .col-md-12.col-sm-12
            .team_carousel1.owl-carousel
              // Staff Member
              .staff-member
                .inner-box.wow.fadeInUp(data-wow-delay='0ms', data-wow-duration='1500ms')
                  figure.image-box
                    img(src='/images/team/team_1.jpg', alt='')
                    .overlay-box
                      ul.social-icon-two
                        li
                          a(href='#')
                            span.fa.fa-facebook-f
                        li
                          a(href='#')
                            span.fa.fa-twitter
                        li
                          a(href='#')
                            span.fa.fa-pinterest-p
                  .lower-content
                    h3
                      a(href='#') TR&Acirc;&#x300;N THI&#x323; V&Acirc;N
                    .designation Hi&ecirc;&#x323;u tr&#x1B0;&#x1A1;&#x309;ng
              // Staff Member
              .staff-member
                .inner-box.wow.fadeInUp(data-wow-delay='300ms', data-wow-duration='1500ms')
                  figure.image-box
                    img(src='/images/team/team_2.jpg', alt='')
                    .overlay-box
                      ul.social-icon-two
                        li
                          a(href='#')
                            span.fa.fa-facebook-f
                        li
                          a(href='#')
                            span.fa.fa-twitter
                        li
                          a(href='#')
                            span.fa.fa-pinterest-p
                  .lower-content
                    h3
                      a(href='#') TR&Acirc;&#x300;N THI&#x323; THU&#x300;Y PH&#x1AF;&#x1A0;NG
                    .designation Pho&#x301; Hi&ecirc;&#x323;u tr&#x1B0;&#x1A1;&#x309;ng
              // Staff Member
              .staff-member
                .inner-box.wow.fadeInUp(data-wow-delay='600ms', data-wow-duration='1500ms')
                  figure.image-box
                    img(src='/images/team/team_3.jpg', alt='')
                    .overlay-box
                      ul.social-icon-two
                        li
                          a(href='#')
                            span.fa.fa-facebook-f
                        li
                          a(href='#')
                            span.fa.fa-twitter
                        li
                          a(href='#')
                            span.fa.fa-pinterest-p
                  .lower-content
                    h3
                      a(href='#') BU&#x300;I THI&#x323; HOA&#x300;I THANH
                    .designation Pho&#x301; Hi&ecirc;&#x323;u tr&#x1B0;&#x1A1;&#x309;ng
        // /col
  // Student say
  section#testimonial.testimonial.background-custom2.padding
    .container
      .row
        .col-sm-1.col-lg-2
        .col-xs-12.col-sm-10.col-lg-8.text-center
          h2.text-uppercase.text-white.font-dearJoe Ho&#x323;c sinh cu&#x309;a chu&#x301;ng t&ocirc;i no&#x301;i gi&#x300;?
          .line_1-1
          .line_2-2
          .line_3-3
          p.heading_space.text-white Tr&#x1B0;&#x1A1;&#x300;ng ho&#x323;c th&acirc;n thi&ecirc;&#x323;n, ho&#x323;c sinh ti&#x301;ch c&#x1B0;&#x323;c
        .col-sm-1.col-lg-2
      .row
        .col-sm-12
          .team_carousel1.owl-carousel
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom1.text-uppercase
                | Ho&#x323;c sinh 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom2.text-uppercase
                | Ho&#x323;c sinh 
                span.line
            .single_testimonial.text-center.wow.zoomIn(data-wow-duration='2s')
              .author_img
                img.radius_100p(src='/images/testimonial_author3.jpg', alt='author')
              p.author_comment Em y&ecirc;u tr&#x1B0;&#x1A1;&#x300;ng em, v&#x1A1;&#x301;i bao ba&#x323;n th&acirc;n...
              h5.text-custom2.text-uppercase
                | Ho&#x323;c sinh 
                span.line




