extends ../layouts/common
block content
  section#about-sev.padding
    .container
      .row
        .col-lg-7.col-sm-12.col-xs-12(style='padding-right: 25px;')
          .row
            .col-lg-12
              h2.text-uppercase.font-dearJoe Huỳnh Ngọc Huệ
              .line_1
              .line_2
              .line_3
          .about-sev-tag
            p(style='text-align: justify')
              | Huỳnh Ngọc Huệ sinh năm 1914 tại làng MỸ HÒA, xã ĐẠI HÒA, huyện ĐẠI LỘC, tỉnh QUẢNG NAM. Năm 1934 ông tốt nghiệp loại giỏi trường Kỹ nghệ thực hành Huế, được nhà trường giữ lại làm giáo viên; tại đây ông được giác ngộ cách mạng và sớm trở thành thành viên nòng cốt của phong trào thanh niên Huế. Cuối năm 1937, ông được cử vào Ban đại diện Đoàn thanh niên Dân chủ nhà trường, Hội Hướng đạo, thư ký Hội Aí hữu nhà trường và là Bí thư chi bộ đầu tiên. Từ năm 1939 – 1945, sau khi Mặt trận bình dân Pháp bị đổ, địch thẳng tay đàn áp phòn trào cách mạng trong giới trí thức các nước thuộc địa, ông bị địch bắt đày ải, giam cầm qua các nhà tù khét tiếng. Ba lần bị địch bắt giam, hai lần vượt ngục thắng lợi và đến 8/1945, với cương vị là Bí thư thành ủy Đà Nẵng ông đã lãnh đạo khởi nghĩa giành chính quyền tại địa phương, sau đó tham giaThường vụ thứ ủy Trung kỳ, thư ký công nhân cứu quốc miền Trung…Ông còn là thành viên sang lập và lãnh đạoTổng Liên đoàn Lao động Việt Nam, ủy viên Ban chấp hành Liên đoàn Lao động quốc tế. Cuối năm 1946, ông tham gia lãnh đạo chiến trườngQN-ĐN, là chính ủy mặt trận đầu tiên ở miền Trung. Ngày 27/4/1949, trên đường đi công tác, ông đã hy sinh tại huyện Nghĩa Hành tỉnh Quảng Ngãi lúc ông tròn 35 tuổi.
        .col-lg-5.col-sm-12.col-xs-12
          .about-sev-img
            img(src='/images/danhnhan/Huỳnh_Ngọc_Huệ.jpg', alt='image')
  // ABOUT danhnhan
