extends ../layouts/common

block content
  section.breadcrumbs_common.bg_img.pos_relative
    .container
      .row
        .col-md-12
          .breadcrumbs_content
  section#banner-style6.banner-style6.padding
      .container-fluid
        .container
          .row
            .col-sm-1.col-lg-2
            .col-xs-12.col-sm-10.col-lg-8.text-center
              h2.text-uppercase.font-dearJoe Đội ngũ giáo viên
              .line_1-1
              .line_2-2
              .line_3-3
              p.heading_space
                | Đội ngũ của chúng tôi đạt chuẩn, mạnh mẽ và sáng tạo và liên tục đổi mới phương thức giảng dạy để đem lại kết quả tốt nhất.
            .col-sm-1.col-lg-2
          .row.clearfix
            .col-md-12.col-sm-12
              .team_carousel1.owl-carousel
                // Staff Member
                each teacher in teachers 
                  .staff-member
                    .inner-box.wow.fadeInUp(data-wow-delay='0ms', data-wow-duration='1500ms')
                      figure.image-box
                        img(src=teacher.avatar, alt='')
                        .overlay-box
                          ul.social-icon-two
                            li
                              a(href='#')
                                span.fa.fa-facebook-f
                            li
                              a(href='#')
                                span.fa.fa-twitter
                            li
                              a(href='#')
                                span.fa.fa-pinterest-p
                      .lower-content
                        h3
                          a(href='#')=teacher.name
                        .designation #{teacher.position}
  section.style2.padding.gray
    .container-fluid
      .container
        .row
          .col-sm-1.col-lg-2
          .col-xs-12.col-sm-10.col-lg-8.text-center
            h2.text-uppercase.font-dearJoe
              | CÔNG NHÂN VIÊN
            .line_1-1
            .line_2-2
            .line_3-3
          .col-sm-1.col-lg-2
        .row
          each cnv in [1,2,3,4]
            .col-md-3.col-sm-6.col-xs-12
              .team_common
                .member_img.pos_relative
                  a(href='#')
                    img(src='/images/avatarFemale.png', alt='member image')
                  .hoverlay
                    ul
                      li
                        a(href='#', title='Facebook', target='_blank')
                          i.fa.fa-facebook
                      li
                        a(href='#', title='Twitter', target='_blank')
                          i.fa.fa-twitter
                      li
                        a(href='#', title='Vimeo', target='_blank')
                          i.fa.fa-vimeo
                      li
                        a(href='#', title='Google-plus', target='_blank')
                          i.fa.fa-google-plus
                .member_info.text-center.pos_relative
                  a.d_inline.fw_600(href='#') Đang cập nhật
                  span.d_block CNV
          
          
         

