extends ../layouts/common
block content 
  section#blog-detail.blog-detail-section.padding
    .container
      .row.section-content
        .col-sm-8
          .blog-detail-content.pb40
            h1.font-dearJoe Thông điệp từ Hiệu trưởng
            .blog-detail-meta.pb30
              ul.meta
                li
                  | 20 09 2021 
                  span.ml10 /
                li.ml10
                  | by Trần Thị Vân
                  span.ml10 /
                li.ml10 Hiệu trưởng
            // / blog-detail-meta
            .blog-detail-text.pb20
              h4
                | Chào mừng các bạn đến với Trường Tiểu học Huỳnh Ngọc Huệ – Quận Thanh Khê –Thành phố Đà Nẵng!
            .blog-detail-text
              p
                | Với tư cách một Hiệu trưởng, tôi vô cùng hân hạnh khi đươc chào đón sự hiện diện của Quý vị và giới thiệu đến Qúy vị những cơ hội, những trải nghiệm độc đáo mà chúng tôi dành cho các em học sinh tại ngôi trường này.
            .blog-detail-pic
              img(src='/images/team/team_1.jpg', alt='image')
            // /blog-pic
            .blog-detail-text.pb20
              p
                | Mọi hoạt động giảng dạy của nhà trường đều được xây dựng trên cơ sở niềm tin: Tất cả các em đều có khả năng thành công và cần được khuyến khích để phát triển hết năng khiếu của mình. Chúng tôi tin tưởng rằng với cá nhân mỗi em, sự thành công có thể đạt được trên nhiều phương diện khác nhau.
            // /blog-text
            .blog-detail-text.pb20
              p
                | Hội đồng sư phạm Trường Tiểu học Huỳnh Ngọc Huệ là một tập thể đoàn kết. Đội ngũ cán bộ, giáo viên và nhân viên luôn tận tâm, tận lực, tài năng, giàu kinh nghiệm và tâm huyết với nghề. Mỗi thầy cô giáo đều tự nỗ lực, không ngừng học hỏi, sáng tạo, liên tục cải tiến các phương pháp dạy học để trau dồi, củng cố, nâng cao kiến thức và đưa chương trình học vào thực tiễn.
            .blog-detail-text.pb20
              p
                | Sự chính trực, sáng tạo, hợp tác, khả năng quan tâm chia sẻ và tôn trọng lẫn nhau là giá trị cốt lõi của nhà trường. Chúng tôi luôn đề cao:
            .quate-text.pb20
              blockquote “CHẤT LƯỢNG GIÁO DỤC LÀ DANH DỰ, UY TÍN CỦA NHÀ TRƯỜNG”.
            .blog-detail-text.pb20
              p
                | Tôi xin chân thành gởi đến quý bậc phụ huynh, giáo viên và các em học sinh lời chào mừng nồng nhiệt nhất và hy vọng sẽ được chào đón các bạn đến với Trường Tiểu học Huỳnh Ngọc Huệ trong tương lai không xa.
            .blog-detail-text.pb20
              p Trân trọng cảm ơn!
            #sign.blog-detail-text.pb20
              p
                | HIỆU TRƯỞNG
                br
              p
                strong.font-dearJoe Trần Thị Vân
          // /blog-detail-content
        // /col-md-8
        .col-sm-4
          .blog-sidebar.ml25
            .side-bar-content
              .about-me.pb30
                .about-pic.pb25
                  img(src='/images/testimonial_author3.jpg', alt='image')
                .about-text
                  h4
                    a.font-dearJoe(href='#') Học sinh của chúng tôi nói gì?
                    
                  p
                    | Mỗi học sinh đều là những nhân tố đặc biệt với từng nhu cầu khác nhau ở mỗi giai đoạn phát triển.
              // /about-me
        // /col-md-4


    